/* BookingForm.css */

form {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
  }
  
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  div {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="date"],
  input[type="number"],
  select {
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #F4CE14;
    color: rgb(21, 5, 5);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #c5d418bd;
  }